@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* Tag components */
  html. body {
    @apply text-secondary;
  }
  section {
    @apply container sm:mx-auto pad-thick;
  }
  h1 {
    @apply text-6xl leading-none font-bold;
  }
  h2 {
    @apply text-5xl leading-none font-bold;
  }
  h3 {
    @apply text-4xl leading-none font-bold;
  }
  h4 {
    @apply text-3xl leading-none font-bold;
  }
  h5 {
    @apply text-2xl leading-none font-bold;
  }
  h5 {
    @apply text-xl leading-none font-bold;
  }
  p {
    @apply text-lg font-light;
  }
  input {
    @apply shadow bg-transparent appearance-none border border-primary rounded w-full py-2 px-3 leading-tight focus:outline-none;
  }
  textarea {
    @apply shadow bg-transparent appearance-none border border-primary rounded w-full py-2 px-3 leading-tight focus:outline-none;
  }

	 /* Table */
	.tbl {
		@apply table text-sm text-left;
	}
	.tbl-head {
		@apply text-xs uppercase bg-blue-500 text-white;
	}
	.tbl-cell {
		@apply py-3 px-6;
	}
	.input {
		@apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
	}

  /* Utilities */
  .pad {
    @apply p-4 sm:p-6;
  }
  .pad-thin {
    @apply p-2;
  }
  .pad-thick {
    @apply p-6 sm:p-12;
  }
  .pady {
    @apply py-6;
  }
  .pady-thin {
    @apply py-2;
  }
  .padx {
    @apply px-6;
  }
  .padx-thin {
    @apply px-2;
  }

  /* Background */
  .bg-banner-bk {
    background: linear-gradient(rgba(18, 26, 46, 0.8), rgba(18, 26, 46, 0.8)),
      url(/img/startup/banner-bk.jpg);
    background-position: center;
    background-size: cover;
  }
  .bg-contact-bk {
    background: linear-gradient(rgba(18, 26, 46, 0.8), rgba(18, 26, 46, 0.8)),
      url(/img/startup/contact-bk.jpg);
    background-position: center;
    background-size: cover;
  }
  .bg-gradient {
    background: linear-gradient(168deg, #ffffff 55%, #00ffad 0);
  }

  /* Button */
  .btn-primary {
    @apply transition duration-500 ease-in-out bg-primary transform hover:-translate-y-2 text-black hover:text-white inline-block font-medium py-2 px-8 rounded-full text-lg;
  }
  .btn-secondary {
    @apply transition duration-500 ease-in-out transform hover:-translate-y-2 bg-secondary text-white hover:text-white inline-block font-medium py-2 px-8 rounded-full text-lg;
  }
  .btn {
    @apply transition duration-500 ease-in-out transform hover:-translate-y-2 bg-white text-secondary hover:bg-secondary hover:text-white border border-secondary inline-block font-medium py-2 px-8 rounded-full text-lg;
  }
  .btn-social-media {
    @apply transition duration-500 ease-in-out transform hover:-translate-y-2 bg-white text-secondary text-xl px-2 py-1 rounded-full hover:bg-primary hover:text-white inline-block;
  }

  /* Animations */
  .fade-in {
    animation: animation-fade-in 1s ease-in-out 0.1s forwards;
    opacity: 0;
  }

  .fade-in-slow {
    animation: animation-fade-in 1s ease-in-out 2s forwards;
    opacity: 0;
  }

  @keyframes animation-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
